
@define-mixin glow-color($colorr, $width: 1px) {
	border: $width solid $colorr;
	border-radius: 5px;
	box-shadow: 0px 0px 2px 1px $colorr;
}
div{
	font-weight: normal;
}
.caro-game {
	position: relative;

	.leave-button, .create-button {
		position: absolute;
		right: 10px;
		top: 10px;
	}

	.caro-match{
		position: relative;
		display: flex;
		flex-direction: row;
		margin-top: 40px;
	
		.list-user {
			flex: 1;
			width: 250px;
			display: inline-block;
			border: 1px solid black;
			vertical-align: top;
	
			padding: 5px;
			box-sizing: border-box;
			position: relative;
			margin: 5px;
			border: 1px solid lightskyblue;
			border-radius: 5px;
			box-shadow: 0px 0px 2px 1px lightsteelblue;
			
			.list-user-tittle{
				margin-left: 15px;
				color: #003d7d;
			}
	
			.user-block{
					height: 55px;
				padding: 7px;
				box-sizing: border-box;
				position: relative;
				background: #d1eaff;
				margin: 5px;
				border: 1px solid #49abe8;
				border-radius: 5px;
				box-shadow: 0px 0px 2px 1px #49abe8;
				color: #0048a5;
	
				&.this-user{
					color: #ff4900;
					background: #ffefca;
					border: 1px solid #e89049;
					box-shadow: 0px 0px 2px 1px #e89049;
				}
	
				.user-name{
					font-size: 22px;
					font-weight: 600;
				}
	
				.user-rule{
					float: right;
					color: red;
					font-size: 23px;
					font-weight: 700;
					font-family: cursive;
					text-shadow: 0px 0px 5px red;
				}
	
				.user-guest{
					float: right;
					color: #0056b3;
					font-size: 17px;
					line-height: 38px;
					font-family: cursive;
					text-shadow: 0px 0px 4px #1283ff;
				}
	
				.fa-key{
					position: absolute;
					color: #ffe200;
					text-shadow: 0px 0px 3px #000000;
					font-size: 20px;
				}
			}
		}
	
		.caro-board{
			display: inline-block;
			position: relative;

			.wrapper{
				position: absolute;
				height: 100%;
				width: 100%;
				background: #ddffdda6;
			}

			.game-message{
				position: absolute;
				left: 50%;
				top: 50%;
				transform: translate(-50%, -50%);

				text-shadow: 0px 0px 10px lime;
				font-size: 70px;
				font-weight: 400;
				color: #009800;
			}

			.row-caro{
				width: max-content;
				display: flex;
			}
		}

		.right-board {
			flex-grow: 0.5;
			display: flex;
			border: 1px solid #49abe8;
			border-radius: 5px;
			box-shadow: 0px 0px 2px 1px #49abe8;
			margin: 5px;
		}
	
		.user-board{
			flex: 1;
			display: flex;
			flex-direction: column;
			position: relative;
			margin: -5px;

			.user-area {
				flex: 2;
				display: flex;
				cursor: pointer;
				height: 55px;
				padding: 7px;
				box-sizing: border-box;
				position: relative;
				background: #d1eaff;
				margin: 5px;
				border: 1px solid #49abe8;
				border-radius: 5px;
				box-shadow: 0px 0px 2px 1px #49abe8;
				color: #0048a5;

				&.choose-typeX {
					background: #49abe8
				}

				&.choose-typeY {
					background: #e89049
				}

				.center {
					margin: auto 0;
					margin-left: 10px;
				}
			}

			.time-area {
				top: 50%;
				position: absolute;
				transform: translate(-50%, -50%);
				left: 50%;
				z-index: 1;
				cursor: default;
			}
		}
	
		.user-chatboard{
			// width: 500px;
			// height: 300px;
			background: rgba(255, 255, 255, 0.5);
			position: absolute;
			bottom: 0;
			border: 1px solid;
			
			.message-area{
				height: 100%;
				overflow: auto;
				padding-bottom: 30px;
			}
			
			.type-area{
				position: absolute;
				bottom: 0;
			}
		}
	}
	.btn-ready{
		height: 50px;
		margin: -6px;
	}
}


.dark-theme{
	background: black;
	color: lightseagreen;

	.square{
		color: lightseagreen;
		border-color: darkslategrey;
	}
	button{
		color: lightseagreen;
		border-color: darkslategrey;
		background: black
	}
}

.square{
	border: 1px solid #CCC;
	height: 30px;
	width: 30px;
	margin-right: -1px;
	margin-bottom: -1px;
	text-align: center;
	font-size: 20px;
	-webkit-user-select: none; /* Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+/Edge */
	user-select: none; /* Standard */

	&.near-square {
		background: blue
	}
}
