
$blue-color: #0095f1;
$blue-bg:#d3eeff;

$orange-color: #e89049;

$red-bg: #FFDDDD;

$disabled-color: #a7a7a7;
$disabled-bg: #F5F5F5;

div{
	font-weight: normal;
}
.caro-game {
	position: relative;
	user-select: none;
	height: 100vh;

	.popup-Loading{
		position: fixed;
		top: 0;
		left: 0;
		height: 100vh;
		width: 100vw;
		background: #000000b8;
		z-index: 100;
		.moving-point{
		  width: 10px;
		  height: 10px;
		  top: 50%;
		  border-radius: 50%;
		  left: 50%;
		  margin-left: -50px;
		  transform-origin: center 50px;
		  position: absolute;
		  background: white;
		  transform: rotate(0deg);
	
		  -webkit-animation-name: loading; /* Safari 4.0 - 8.0 */
		  -webkit-animation-duration: 2s; /* Safari 4.0 - 8.0 */
		  animation-name: loading;
		  animation-duration: 2s;
		  animation-iteration-count: infinite;
		}
	
	
	  }

	.fa-user {
		position: relative;
		font-size: 45px;
    margin: 5px 0px 12px 5px;
		cursor: pointer;
		color: lightskyblue;
		
		.zone {
			display: none;
		}
		
		&:hover {
			.zone {
				position: absolute;
				padding-left: 5px;
				display: block;
				top: 0;
				left: 25px;

				.handle-user {
					margin-left: 5px;
					font-size: 20px;
					background: rgba(0,0,0,0.05);
					border: 1px solid lightskyblue;
					border-radius: 5px;
					box-shadow: 0px 0px 2px 1px lightsteelblue;
	
				.area {
					line-height: 1.5;
					cursor: pointer;
					padding: 0px 2px;
	
					&:hover {
						background: #dedede;
					}
				}
	
				.change-pw {
					width: max-content;
				}
			}

			}
		}
	}

	.chat-area {
		position: fixed;
		margin: 2px;

		.drag-icon{
			position: absolute;
			width: 10px;
			height: 10px;
			background: black;
		}

		.resize-icon{
			position: absolute;
			right: 0;
			width: 10px;
			height: 10px;
			background: black;
		}

		.room-nav {
			.section-room {
				display: inline-block;
				width: 150px;
				border: 1px solid #0095f1;
				background: #dedede;
				border-top: none;

				&.is-selected {
					background: white
				}
			}
		}

		
		.disappear {
			display: none;

			&.visiable {
				display: block;
			}
		}
	}

	.leave-button, .create-button, .reset-button {
		position: absolute;
		width: 120px;
		right: 10px;
		top: 10px;
	}

	.custom-list {
		flex: 1;
		width: 280px;
		display: inline-block;
		border: 1px solid black;
		vertical-align: top;

		padding: 5px;
		box-sizing: border-box;
		position: relative;
		margin: 5px;
		border: 1px solid lightskyblue;
		border-radius: 5px;
		box-shadow: 0px 0px 2px 1px lightsteelblue;

		&.selectable {
			.list-block{
				cursor: pointer;

				&:active {
					background: #98d0ff;
    				border: 3px solid $blue-color;
				}
			}
		}
		
		.custom-list-tittle{
			margin-left: 15px;
			color: #003d7d;
		}

		.list-block{
			height: 55px;
			padding: 7px;
			box-sizing: border-box;
			position: relative;
			background: #d1eaff;
			margin: 5px;
			border: 1px solid $blue-color;
			border-radius: 5px;
			box-shadow: 0px 0px 2px 1px $blue-color;
			color: #0048a5;

			.area-control {
				.menu-control {
					display: none;
				}

				&:hover {
					.menu-control {
						display: block;
						position: absolute;
						top: 35px;
						left: 5px;
						box-shadow: 0px 0px 5px 1px #888888;
						padding: 5px;
						border-radius: 5px;
						background: white;
						
						.option {
							width: 110px;
							text-align: center;
							line-height: 1;
							padding: 5px;

							&:hover {
								background: #d2d2d2;
								cursor: pointer;
							}
						}
					}
				}
			}

			&.this-user{
				color: #ff4900;
				background: #ffefca;
				border: 1px solid $orange-color;
				box-shadow: 0px 0px 2px 1px $orange-color;
			}

			.name{
				font-size: 22px;
				font-weight: 600;
				margin-left: 15px;
				display: inline-block;
				max-width: 70%;
				text-overflow: ellipsis;
				overflow: hidden;
			}

			.user-rule{
				float: right;
				color: red;
				font-size: 23px;
				font-weight: 700;
				font-family: cursive;
				text-shadow: 0px 0px 5px red;
			}

			.user-guest{
				float: right;
				color: #0056b3;
				font-size: 17px;
				line-height: 38px;
				font-family: cursive;
				text-shadow: 0px 0px 4px #1283ff;
			}

			.fa-key{
				position: absolute;
				color: #ffe200;
				text-shadow: 0px 0px 3px #000000;
				font-size: 20px;
			}

			.there-dot {
				position: absolute;
				top: 16px;
				left: 10px;
				padding: 0px 15px 15px 0px;
				cursor: pointer;
			}
		}
	}

	.caro-match{
		position: relative;
		display: flex;
		flex-direction: row;
		margin-top: 30px;
	
		
	
		.caro-board{
			display: inline-block;
			position: relative;
			.canvas-waiting{
				position: absolute;
			}

			.border-win {
				position: absolute;
				display: none;
				height: 4px;
				border-radius: 2px;
				background: red;
				opacity: 0.7;
				margin-top: -2px;
			}

			&&.X-player {
				&&.hidden-hover {
					.empty-square {
						&&:hover {
							&&::after {
								opacity: 0;
							}
						}
					}
				}

				.empty-square{
					&&::after{
						content: 'X';
						color: #ff00007f;
						text-shadow: 0px 0px 3px #ff00007f;
						opacity: 0;
						transition: all 3s ease -1s;
					}
					&&:hover{
						&&::after{
							opacity: 1;
						}
					}
					
					&&:active{
						box-shadow: 0px 0px 2px 1px #ff00007f;
						box-sizing: border-box;
					}
				}
			}

			&&.O-player {
				&&.hidden-hover {
					.empty-square {
						&&:hover {
							&&::after {
								opacity: 0;
							}
						}
					}
				}

				.empty-square {
					&&::after {
						content: 'O';
						color: #0070ff7f;
						text-shadow: 0px 0px 3px #0070ff7f;
						opacity: 0;
						transition: all 3s ease -1s;
					}
					&&:hover{
						&&::after{
							opacity: 1;
						}
					}

					&&:active{
						box-shadow: 0px 0px 2px 1px #0070ff7f;
						box-sizing: border-box;
					}
				}
			}

			.wrapper{
				position: absolute;
				height: 100%;
				width: 100%;
				background: #ddffdda6;

				&&.display {
					.game-message {
						font-size: 35px;
						opacity: 0.7;
					}
				}
			}

			.game-message{
				position: absolute;
				left: 50%;
				top: 50%;
				transform: translate(-50%, -50%);
				text-shadow: 0px 0px 10px lime;
				font-size: 70px;
				font-weight: 400;
				color: #009800;
			}

			.row-caro{
				width: max-content;
				display: flex;
			}
		}

		.right-board {
			flex: 1 928px;
			display: flex;
			border: 1px solid $blue-color;
			border-radius: 5px;
			box-shadow: 0px 0px 2px 1px $blue-color;
			margin: 5px;
		}
	
		.user-board{
			flex: 1;
			display: flex;
			flex-direction: column;
			position: relative;
			margin: 5px;

			.hand-point {
				position: absolute;
				z-index: 1;
				font-size: 30px;
				top: 40%;
				left: 20%;
				transform: rotate(45deg);	
				-webkit-animation-name: moving; /* Safari 4.0 - 8.0 */
				-webkit-animation-duration: 1s; /* Safari 4.0 - 8.0 */
				-webkit-animation-iteration-count: infinite; /* Safari 4.0 - 8.0 */
				animation-name: moving;
				animation-duration: 1s;
				animation-iteration-count: infinite;	
			}

			.user-area {
				flex: 2;
				display: flex;
				cursor: pointer;
				box-sizing: border-box;
				position: relative;
				background: $disabled-bg;
				margin: 5px;
				border-radius: 5px;
				color: #0048a5;
				box-shadow: 0px 0px 10px 1px $disabled-color;

				.label {
					color: $disabled-color;
					font-size: 50px;
					text-shadow: 0px 0px 5px $disabled-color;
					text-align: center;
				}

				&.choose-typeX {
					// background: white;
					background: $red-bg;
					box-shadow: 0px 0px 10px 1px red;
					border: 1px solid red;

					.label {
						color: red;
						text-shadow: 0px 0px 10px red;
						background: $red-bg;
					}

					&.ready{
						background: $red-bg;
					}
				}

				&.choose-typeY {
					// background: white;
					background: $blue-bg;
					box-shadow: 0px 0px 10px 1px $blue-color;
					border: 1px solid $blue-color;

					.label {
						color:  $blue-color;
						text-shadow: 0px 0px 10px  $blue-color;
					}

					&.ready{
						background: $blue-bg;
					}
				}

				.center {
					margin: auto;
				}

			
			}

			.time-area {
				top: 50%;
				position: absolute;
				transform: translate(-50%, -50%);
				left: 50%;
				height: 55px;
				z-index: 1;
				width: 85px;
				cursor: default;
			}
		}
	}

	.btn-ready{
		width: 100%;
		height: 100%;

		&.not-allow {
			cursor: not-allowed;
		}
	}

	.user-chatboard{
		background: rgba(255, 255, 255, 0.5);
		border: 1px solid $blue-color;
		box-shadow: 0px 0px 5px 0px $blue-color;
		
		&.visiable {
			height: 325px;
			animation-name: show-message;
			animation-duration: 1s;
		}
		
		.message-area{
			height: calc(100% - 30px);
			overflow: auto;
			padding-bottom: 30px;
		}
	}
}


.dark-theme{
	background: black;
	color: lightseagreen;

	.square{
		color: lightseagreen;
		border-color: darkslategrey;
	}
	button{
		color: lightseagreen;
		border-color: darkslategrey;
		background: black
	}
}

.square{
	border: 1px solid #CCC;
	height: 30px;
	width: 30px;
	margin-right: -1px;
	margin-bottom: -1px;
	text-align: center;
	font-size: 20px;
	-webkit-user-select: none; /* Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+/Edge */
	user-select: none; /* Standard */

	&&.square-red{
		color: red;
		text-shadow: 0px 0px 3px red;
	}

	&&.square-blue{
		color: #0070ff;
		text-shadow: 0px 0px 3px #0070ff;
	}
	
	
	&.near-square {
		background: blue
	}
}

@media (min-width: 1799px) {
	.caro-game .caro-match .right-board {
		flex: 1 1088px;
	}

	.square {
		height: 35px;
		width: 35px;
	}
}

@media (min-width: 1899px) {
	.caro-game .caro-match .right-board {
		flex: 1 1248px;
	}

	.square {
		height: 40px;
		width: 40px;
	}
}

@media (max-width: 1320px) {
	.caro-game .caro-match .right-board {
		flex: 1 790px;
	}

	.square {
		height: 27px;
		width: 27px;
	}
}

@media (max-width: 1160px) {
	.caro-game .caro-match .right-board {
		flex: 1 666px;
	}

	.square {
		height: 23px;
		width: 23px;
	}
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes moving {
  0%   { top: 40%; left: 20%; }
	50%  { top: 35%; left: 15%; }
	100% { top: 40%; left: 20%; }
}

/* Standard syntax */
@keyframes moving {
  0%   { top: 40%; left: 20%; }
	50%  { top: 35%; left: 15%; }
	100% { top: 40%; left: 20%; }
}

@keyframes show-message {
	0% { width: 0px; height: 0px }
	50% {
		width: 150px;
		height: 160px;
		border: 1px solid #0095f1;
		box-shadow: 0px 0px 5px 0px #0095f1;
		border-radius: 25px;
	}
	100% { width: 300px; height: 325px }
}