$error-color: #bd362f;
$success-color: #51a351;
$warning-color: #f89406;

.notification {
  position: fixed;
  z-index: 9999999;
  border: 2px solid;
  border-radius: 25px;
  color: white;
  right: -365px;
  top: 50px;

  &.animation-show {
    -webkit-animation-name: appear; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 0.5s; /* Safari 4.0 - 8.0 */
    animation-name: appear;
    animation-duration: 2s;
  }

  &.success {
    border-color: $success-color;
    background-color: $success-color;
  }

  &.warning {
    border-color: $warning-color;
    background-color: $warning-color;
  }

  &.error {
    border-color: $error-color;
    background-color: $error-color;
  }

  &.not-display {
    display: none;
  }

  .close-btn {
    padding-left: 10px;
    cursor: pointer;
  }

  .message-error {
    display: inline-block;
    padding: 5px 10px;
  }
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes appear {
  0%   { right: -365px; }
  15% { right: 10px; }
  85% { right: 10px; }
  0%   { right: -365px; }

}

/* Standard syntax */
@keyframes appear {
  0%   { right: -365px; }
  10% { right: 10px; }
  90% { right: 10px; }
  0%   { right: -365px; }
}